body{
    margin: 0;
    background: black;
    font-family: 'Gamja Flower', cursive;
    color: white;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}

/* box */
.box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-basis: 0;
}


/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    top: 0;
}
.top{
    font-size: 180px;
}
.top p{
    margin: 0;
}
/* container */
.container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 0;
    font-size: 40px;

}


/* footer */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    bottom: 0;
    left: 0;
    padding: 15px;
    position: absolute;
}

.bottom{
    font-size: 30px;
    text-align: center;
}