<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>20200406 채원이</title>
    <link rel="stylesheet" href="/static/KCW/KCW.css">
</head>

<body>

    <div class="container">
        <div class="item box1">
            <h3>"9시 되기 전에 집에 갈 수 있을까"</h3>
        </div>

        <div class="item box2">
            <div class="section1">
                <div class="pic1">
                    <div class="me">
                        <img src="/static/KCW/me.jpg">
                    </div>
                    <div class="food">
                        <img src="/static/KCW/gamjatang.jpg">
                    </div>
                </div>
                <div class="pic2">
                    <img src="/static/KCW/timetable.jpg">
                </div>                
            </div>

            <div class="section2">
                <div class="youtube">
                    <iframe src="https://www.youtube.com/embed/GlZTh3-FryU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen width="100%" height="600px"></iframe>
                </div>

                <div class="page">
                    <div class="github">
                        <button type="button" onclick="window.open('https://github.com/dashboard')">Github</button></a>
                    </div>
                    <div class="sns">
                        <button type="button" onclick="window.open('https://www.instagram.com/01.22_ung/')">Instagram</button></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>