<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/KHC/KHC.css">
</head>
<body>
  <div class="container">
    <div class="first">"첫번쨰 세션"</div>
    <div class="second">
      <div class="one">
        <div class="selfood">
          <img src="/static/KHC/EC2BCD89-DBAA-4F2C-A996-3E8AD85BAFF2.jpg" width="100%"  height="50%">
          <img src="/static/KHC/IMG_0109.JPG" width="100%"  height="50%">
        </div>
        <div class="time">
          <img src="/static/KHC/KakaoTalk_20200407_021155100.png" width="100%"  height="100%">
        </div>
      </div>
      <div class="two">
        <div class="frame">
          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <div class="underframe">
          <div class="github">
            <button type="button" onclick="location.href='https://github.com/kimhecan'">git</button>
          </div>
          <div class="sns">
            <button type="button" onclick="location.href='https://blog.naver.com/kimhecan'">nsn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>