<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodingDay_D1</title>
    <link rel="stylesheet" href="/static/KJH/KJH.css">

</head>
<body>
    <div class="container">
        <div class="main page_title">
            <h1 style="font-weight: unset;">Coding_Day_1_JaehoonKim</h1>
        </div>
        <div class="column_cont">
            <div class="main_page">
                <div class="main_left_box">
                    <div class="photo-box">
                        <img src="/static/KJH/me.jpeg" width="100%" height="100%">
                    </div>
                    <div class="photo-box">
                        <img src="/static/KJH/food.jpg" width="100%" height="100%">
                    </div>
                </div>
                <div class="main_left_box">
                    <img src="/static/KJH/timetable.jpeg" width="100%" height="100%">
                </div>
            </div>
            <div class="main_page">
                <div class="right_box_1">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rWkSyO3puuc" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="right_box_2">
                    <div class="circle">
                            <button type="button" onclick="location.href='https://github.com/jaehoonkimm?tab=repositories'">JaehoonKim Github</button>
                    </div>
                    <div class="circle">
                            <button type="button" onclick="location.href='https://www.facebook.com/JJaehoonkim'">JaehoonKim Facebook</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>