<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋사페이지</title>
    <link rel="stylesheet" href="/static/LMH/LMH.css">
</head>
<body>
    <div class="container1"></div>
        <div class="boxsize top"><p>------겨울이는 행복한 강아지------</p></div>
        <div class="container2">
            <div class="boxsize leftbox">
                <div class="boxsize photozone">
                    <div class="boxsize mypic"><img src="/static/LMH/겨울이1.jpg" width="100%" height="100%"></div>
                    <div class="boxsize myfood"><img src="/static/LMH/츄르.jpg" width="100%" height="100%"></div>
                </div>
                <div class="boxsize scadule"><img src="/static/LMH/시간표.jpg" width="100%" height="100%"></div>
            </div>
            <div class="boxsize rightbox">
                <div class = "boxsize video"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/wFuF2ZMa_zc"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <div class = "boxsize link-box">
                    <div class="gitpage"><button type="button" style="width: 50%; height: 100%;border: 3px solid black;"
                        onclick="window.open('https://github.com/Gobans?tab=repositories')"><img src="/static/LMH/깃허브.png"width="100%" height="100%"></button></div>

                    <div class="instagram"><button type="button" style="width: 50%; height: 100%;border: 3px solid black;"
                        onclick="window.open('https://www.instagram.com/goban_lm/')"><img src="/static/LMH/인스타그램.jpg"width="100%" height="100%"></button></div>
                </div>
            </div>
    </div>

</body>
</html>