<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/LMJ/LMJ.css">
</head>
<body>
    <div class="mysite">
        <div class="title">
            <h1>  ٩(๑•̀o•́๑)و</h1>
        </div>

        <div class="site">
            <div class="left">
                <div class="photos">
                    <div class="photobox">
                        <div class="photo">
                            <img src="/static/LMJ/jel.jpg" height="400px" width="100%">
                        </div>
                        <div class="photo">
                            <img src="/static/LMJ/hi.jpg" height="400px" width="100%" >
                        </div>
                    </div>
                </div>

                <div class="photos">
                    <img src="/static/LMJ/timetable.jpg" height="100%" width="100%">

                </div>
                    
                    
            </div>

            <div class="right">
                <div class="youtube">
                    <iframe width="100%" height="600px" src="https://www.youtube.com/embed/ySQ8s2QjNfM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="links">
                    <div class="link">
                        <button type="button" id="button" onclick="location.href='https://github.com/minjung0067'" >GITHUB</button>
                    </div>
                        
                    <div class="link">
                        <button type="button" id="button" onclick="location.href='https://www.instagram.com/?hl=ko'">INSTAGRAM</button>
                    </div>
                    </div>
 
            </div>

        </div>
        </div>

       
    </div>
    
</body>
</html>