<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Yebbi world!</title>
    <link rel="stylesheet" href="/static/LYB/LYB.css">
</head>
<body>
    <div class="container">
       
         <div class="title">
            <h1>Welcome to Yebbi World!</h1>
        </div>
            
            <div class="text">
                    
                <div class="box1">
                    <div class="box1-1">
                        <div class="box1_1">
                            <img src="/static/LYB/codingday2.jpg" width = "100%" height = "100%" >
                        </div>
                        <div class="box1_2">
                            <img src= "/static/LYB/food.jpg" width = "100%" height = "100%">
                        </div>
                    </div>
                    <div class="box1-2">
                        <img src="/static/LYB/table.jpg" width = "100%" height = "100%" >
                    </div>
                </div> 

                <div class="box2">

                    <div class="box2top">
                        <p allign = "middle">
                            <div class="video-container"></div>
                            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/fTsEqLuqWz4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </p>
                    </div>
                    <div class="box2text">
                        <div class="box2-1">
                            <br><br><br><br>
                            <button type="button" onclick="location.href= 'https://github.com/binbin-Hub'">Github</button>
                        </div>
                        <div class="box2-2">
                            <br><br><br><br>
                            <button type="button" onclick="location.href= 'https://www.instagram.com/binbin_zza_ra/?hl=ko'">instagram</button>
                        </div>
                    </div>

                    
                </div>
            </div>
        

    </div>

</body>
</html>
</html>