<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/SBD/SBD.css">
    <title>bada homepage</title>
</head>

<body>
    <div class="container">
        <div class="box1">
            <h1>welcome to bada homepage</h1>
            <img src="/static/SBD/face.jpg" width="100px" height="100px">
        </div>

        <div class="box2">

            <div class="left">
                <div class="my picture">
                    <img src="/static/SBD/bada.jpg" width="400px" height="300px">
                </div>
                <div class="food">
                    <img src="/static/SBD/food.jpg" width="400px" height="300px">
                </div>
            </div>

            <div class="middle">
                    <img src="/static/SBD/timetable.jpg" width="500px" height="600px">
            </div>

            <div class="right">
                <div class="youtube">
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/yni45ID2qCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>">
                </div>   
                
                <div class="address">
                    <div class="github">
                        <div class="circle" onclick="window.open('https://github.com/BADASEO');" >
                        <h3>github</h3>
                        </div>
                    </div>

                    <div class="insta">
                        <div class="circle" onclick="window.open('https://www.instagram.com/love_as_ocean/');" >
                        <h3>insta</h3>
                        </div>
                    </div>
             
             
                </div>

             </div>


        </div>

    </div>

</body>
</html>