<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멋쟁이 사자처럼 8기</title>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index/index.css">
</head>
<body>
    <div class="box">
        <div class="header">
            <div class="top">
                <p>🐥아기 사자 모음🐉</p>
            </div>
        </div>
        <div class="container">
            <div class="contents homework">
                <ul>
                    <li><a class="week1" href="/show">멋사 8기 1주차 과제 보러 가기</a></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <div class="bottom">
                <p>⭐강민지⭐강채원⭐김재훈⭐김지은⭐김진우⭐김희찬⭐박지윤⭐서바다⭐우인아⭐<br><br>🌙이명환🌙이민정🌙이예빈🌙이은아🌙정지원🌙차주희🌙</p>
            </div>
        </div>
    </div>
</body>
</html>


