<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>두 번째 코딩데이</title>
    <link rel="stylesheet" href="/static/VIDEO/CSS/video1.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class="button">
        <button type="button" class="snip1535 hover" id="beforeButton">이전 영상</button>
        <button type="button" class="snip1535 hover" id="nextButton">다음 영상</button>
    </div>
    <div class="container">
        <div class="videoItem move">
            <iframe src="https://www.youtube.com/embed/TSlfkDSnOOI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videoItem">
            <iframe src="https://www.youtube.com/embed/VWbwem2ocKU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <div class="videoItem">
            <iframe src="https://www.youtube.com/embed/kSu8zgM_lTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videoItem last">
            <iframe src="https://www.youtube.com/embed/xuqsQXopU9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <script src="/static/VIDEO/JS/video1.js"></script>
</body>
</html>